@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.white{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.button {
    transition-duration: 0.4s;
}

.button{
    border-radius: 20px;
    width: 150px;
    border: 1px solid black;
    background: transparent;
    color: black;
    cursor: pointer;
}

.button1:hover {
    background-color: #000000!important;
    color: white!important;
}